* {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #f1c7c185;
}

.header .row {
  margin-top: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  list-style-type: none;
  display: inline-block;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: #555;
}
p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-right: 25px;
  padding-left: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 65px;
  margin: 25px 0;
}

.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 15px;
  margin: 20px 0;
  border-radius: 85px;
  transition: 0.4s;
  border: 1px solid #ff523b;
}

.btn:hover {
  background-color: #fff;
  color: #ff523b;
  border: 1px solid #ff523b;
}

/*------------- catagories ----------*/
.catagories {
  margin: 70px 0;
}

.col-3 {
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 25px;
}

.col-3 img {
  width: 100%;
}

.small-container {
  max-width: 1080px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 10px;
  min-width: 200px;
  margin-bottom: 50px;
  transition: transform 0.5s;
}

.col-4 img {
  max-width: 100%;
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: #ee2c12;
}

.h4 {
  color: #555;
  font-weight: normal;
}

.col-4 p {
  font-size: 15px;
}

.rating .fa-solid {
  color: #ffd000;
}

.col-4:hover {
  transform: translateY(-5px);
}

/* offer */

.offer {
  background: radial-gradient(#fff, #ffd6d6);
  margin-top: 80px;
  padding: 30px 0;
}

.col-2 .offer-img {
  padding: 50px;
  height: 250px;
}

.small {
  color: #555;
}

/* brands */
.brands {
  margin: 100px auto;
}

.col-5 {
  width: 156px;
}

.col-5 img {
  width: 100%;
  cursor: pointer;
  filter: grayscale(100%);
  transition: 0.4s;
}

.col-5 img:hover {
  filter: grayscale(0);
}

/* footer */
.footer {
  background-color: #000;
  color: #8a8a8a;
  font-size: 14px;
  padding: 60px 0 20px;
}

.footer p {
  color: #8a8a8a;
}

.footer h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
  min-width: 250px;
  margin-bottom: 20px;
}

.footer-col-1 {
  flex-basis: 30%;
}

.footer-col-2 {
  flex: 1;
  text-align: center;
}
.footer-col-2 img {
  width: 180px;
  margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
  flex-basis: 12%;
  text-align: center;
}

ul {
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}

.app-logo img {
  width: 120px;
}

.footer hr {
  border: none;
  background: #b5b5b5;
  height: 10px;
  margin: 20px 0;
}

.copyright {
  text-align: center;
  font-size: 20px;
}

/* Responsive */

.menu-icon {
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* media query for menu */
@media only screen and (max-width: 800px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  nav ul {
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #333;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }

  nav ul li {
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  nav ul li a {
    color: white;
  }
}

/* rsponsive for less then 600px */
@media only screen and (max-width: 600px) {
  .row {
    text-align: center;
  }
  .col-2,
  .col-3,
  .col-4 {
    flex-basis: 100%;
  }
}
